
<header>
    <a href="#"><h1 class="site-title">Unfortunately,</h1></a>
    <nav class="navbar">
        <ul class="navlist">
            <li id="navlink-instructions"><a href="#">Instructions</a></li>
            <li id="navlink-create"><a href="#">Create Fortune</a><li>
        </ul>
    </nav>
</header>
