
<header>
    <a href="#"><h1 class="site-title">Unfortunately,</h1></a>
    <nav class="navbar">
        <ul class="navlist">
            <li id="navlink instructions"><a href="#">Instructions</a></li>
        </ul>
    </nav>
</header>