<div id="modal-backdrop" class="hide"></div>
<div id="instructions-modal" class="hide">
<div class="modal-dialog">
    <div class="modal-header">
        <h3>Instructions</h3>
        <button type="button" class="modal-close-button">&times;</button>
    </div>
    <div class="modal-body">
        <div class="instructions-text">
            <p>
                Welcome to, Unfortunately. To begin, enter your name. This game will work like
                any paper fortune teller you might have used before. First, select a color, then some
                numbers to reveal your fortune. (wooo spookyy) I hope you get lucky or unlucky....
            </p>
        </div>
        <div class="name-input-element">
            <label for="name-input">Name</label>
            <input type="text" id="name-input">
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="modal-start-button">Start</button>

    </div>
</div>
</div>
