<div id="display-fortune">
    <div class="fortune-title">
        <h1>Final Fortune</h1>
    </div>
    <div id="player_name">
       {{name}}
    </div>
    <div class="fortune-box">
    <div class="fortune_text">
        {{text}}
    </div>
    </div>
    <div id="fortune-teller-img">
                <img src="http://cdn.shopify.com/s/files/1/0262/0971/4198/products/cd12091-cat-fortune-teller-pop-up-birthday-card_1200x1200.jpg?v=1601655207" alt="Fortune Teller Animation!!">
                </div>
</div>

<!--
<button type="button" id="create-fortune-button"></i></button>
-->
<!--
<div id="modal-backdrop2" class="hidden"></div>
    <div id="create-fortune-modal" class="hidden">
      <div class="modal-dialog2">

        <div class="modal-header2">
          <h3>Create your own fortune!</h3>
          <button type="button" class="modal-close-button2">&times;</button>
        </div>

        <div class="modal-body2">
          <div class="fortune-input-element">
            <label for="fortune-text-input">Fortune text</label>
            <textarea id="fortune-text-input"></textarea>
          </div>
          <div class="fortune-input-element">
            <label for="fortune-ID-input">ID #</label>
            <input type="text" id="twit-ID-input">
          </div>
        </div>

        <div class="modal-footer2">
          <button type="button" class="modal-cancel-button2">Cancel</button>
          <button type="button" class="modal-accept-button2">Create Fortune</button>
        </div>

      </div>
    </div>
-->
