<div id="display-fortune">
    <div class="fortune-title">
        <h1>Final Fortune</h1>
    </div>
    <div id="player_name">
       {{name}}
    </div>
    <div class="fortune_text">
        {{text}}
    </div>
</div>