<div id="display-fortune">
    <div class="fortune-title">
        <h1>Final Fortune</h1>
    </div>
    <div id="player_name">
        <h3>Name</h3>
    </div>
    <div class="fortune_text">
        <p>This the final fortune,that must implemented using template classes?(Ex. Name, Your final fortune is....)</p>
    </div>
</div>