

<main class="fortune-container">

        <section class="fortune-card">

            <div id="finding-fortune">
                <!-- can change this part with js to change for every level -->

                <div class="fortune-level-instructions game-box">
                    <h2>Select a color!</h2>
                </div>

            <div class="fortune-button-box game-box">
                <div class="left">
                <button type="button" class="fortune-button" id="button-1"></button>
                <button type="button" class="fortune-button" id="button-2"></button>
                </div>

                <div class="right">
                <button type="button" class="fortune-button" id="button-3"></button>
                <button type="button" class="fortune-button" id="button-4"></button>
                </div>
                <div id="fortune-teller-img">
                <img src="http://cdn.shopify.com/s/files/1/0262/0971/4198/products/cd12091-cat-fortune-teller-pop-up-birthday-card_1200x1200.jpg?v=1601655207" alt="Fortune Teller Animation!!">
                </div>
            </div>
    </section>
</main>

{{>modal}}

